/* RULE FOR EXTERNAL AND INTERNAL */
SELECTO
img{
display: block;
padding: 15px;
 margin-left:auto ;
 margin-right: auto;

.image1{
display: block;
padding: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 50%;
 opacity:2% ;
}












}








